.projectPreview_container {
    transition-duration: .3s;
    border-radius: 30px;
    padding: 10px 0;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projectPreview_container:not(.projectPreview_container:last-of-type) {
    margin-bottom: 10vh;
}

.projectPreview_header {
    align-self: flex-end;
    width: 350px;
    height: 146px;
    background-size: cover;
    background-position: top center;
    border-radius: 30px;
    margin-right: 5%;
}

@media (max-width: 1090px) {
    .projectPreview_header {
        width: 320px;
        height: 133px;
    }
}

.projectPreview_textContainer {
    position: relative;
    width: 350px;
    align-self: flex-end;
    margin-right: 5%;
    overflow: hidden;
}

.projectPreview_container h3 {
    color: #CED0CE;
    margin: 10px auto;
    text-align: right;
    font-size: 1.8rem;
}

.projectPreview_container p {
    position: absolute;
    color: #CED0CE;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 1rem;
    margin-top: 5px;
}

.devIcon-container {
    color: white;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.devIcon-container i {
    font-size: 40px;
    color: #CED0CE;
    transition-duration: .2s;
}

.devIcon-container i:not(.devIcon-container i:last-of-type) {
    margin-right: 10px;
}

@media (min-width: 596px) {
    .projectPreview_container:hover .devIcon-container i {
        color: #F15025;
    }
    .projectPreview_container:hover {
        cursor: pointer;
    }
}

.mob-projectPreview_container {
    width: 100%;
    margin-bottom: 8vh;
    display: flex;
}

.mob-projectPreview_header {
    width: 250px;
    height: 156px;
    background-position: top center;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.mob-projectPreview_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    padding-top: 0;
}

.mob-projectPreview_text h3 {
    color: #CED0CE;
    font-size: 1.5rem;
}   

.mob-projectPreview_text p {
    margin-top: 10px;
    color: #CED0CE;
    font-size: 1rem;
}

.mob-devIcon-container {
    margin-top: 30px;
    color: #F15025;
    font-size: 2rem;
}

.mob-devIcon-container i:not(.mob-devIcon-container i:last-of-type) {
    margin-right: 15px;
}

@media (max-width: 770px) {
    .mob-projectPreview_header {
        width: 170px;
        height: 106px;
    }
}

@media (max-width: 595px) {
    .projectPreview_textContainer {
        width: 320px;
        align-self: flex-end;
        margin: 0;
        margin-right: 5%;
    }
    .projectPreview_container p {
        position: relative;
        color: #CED0CE;
        text-align: right;
        font-size: 1rem;
        margin-top: 5px;
    }
    .devIcon-container i {
        color: #F15025;
        font-size: 30px;
    }

}