#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    flex-shrink: none;
    justify-content: center;
    padding-right: 3vw;
}

#contactMe_button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    background-color: #F15025;
    font-size: 1.5rem;
    margin-top: 5vh;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition-duration: .3s;
}

#contactMe_button:hover {
    cursor: pointer;
    opacity: .8;
}

@media (max-width: 1024px) {
    #sidebar {
        position: relative;
        height: auto;
        width: auto;
        margin-top: 5vh;
    }
}