#socialLinks {
    margin-top: 60px;
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.socialIcon {
    font-size: 30px;
    transition-duration: .3s;
}

#socialLinks a {
    text-decoration: none;
    color: #CED0CE;
}

@media (min-width: 1025px) {
    .socialIcon:hover {
        color: #7a9e9f;
        cursor: pointer;
        animation: socialIconRumble;
        animation-duration: .3s;
    }
}

@keyframes socialIconRumble {
    0% {
        rotate: -10deg;
    }

    20% {
        rotate: 10deg;
    }

    40% {
        rotate: -10deg;
    }

    60% {
        rotate: 10deg;
    }

    80% {
        rotate: -10deg;
    }

    100% {
        rotate: 0;
    }
}

@media (max-width: 1024px) {
    #socialLinks {
        margin-bottom: 10vh;
    }
}