#titleCard {
    color: #CED0CE;
}

#titleCard h1 {
    font-weight: bold;
    font-size: 4rem;
    width: fit-content;
    margin-bottom: 10px;
}

#titleCard h2 {
    font-weight: normal;
    font-size: 2rem;
    width: fit-content;
    margin-bottom: 10px;
}

#titleCard h3 {
    font-size: 1rem;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 400px) {
    #titleCard h1 {
        font-size: 3rem;
    }
    #titleCard h2 {
        font-size: 1.8rem;
    }
    #titleCard h3 {
        font-family: 'Raleway', sans-serif;
    }
}